@mixin doneBoard-v1 {
    
    & .board__content {
        position: relative;

        & .task {
            position: absolute;
            right: 15px;
            top: 15px;

            &:nth-child(2) {
                top: 49px;
            }

            &:nth-child(3) {
                top: 83px;
            }

            &:nth-child(4) {
                top: 118px;
            }

            &:nth-child(5) {
                top: 153px;
            }

            &:nth-child(6) {
                top: 189px;
            }

            &:nth-child(7) {
                top: 228px;
            }

            &:nth-child(8) {
                top: 267px;
            }

            &:nth-child(9) {
                top: 306px;
            }

            &:nth-child(2n + 1){
                left: 15px;
                right: auto;
                background-color: $cardState3-2;
            }

            &:hover {
                z-index: +1;

            }

            @media(max-width: 730px) {
                right: auto;
                left: auto;
                position: static;

                &:nth-child(2n + 1){
                    right: auto;
                    left: auto;
                    position: static;
                    background-color: $cardState3-2;
                }
            }
        }
    }
}


@mixin doneBoard-v2 {
    
    & .board__content {
        position: relative;

        & .task {
            position: absolute;
            left: 15px;
            top: 15px;

            &:nth-child(2) {
                top: 49px;
                left: 19px;
            }

            &:nth-child(3) {
                top: 83px;
                left: 23px;
            }

            &:nth-child(4) {
                top: 118px;
                left: 27px;
            }

            &:nth-child(5) {
                top: 153px;
                left: 31px;
            }

            &:nth-child(6) {
                top: 189px;
                left: 35px;
            }

            &:nth-child(7) {
                top: 228px;
                left: 38px;
            }

            &:nth-child(8) {
                top: 267px;
                left: 42px;
            }

            &:nth-child(9) {
                top: 306px;
                left: 46px;
            }

            &:nth-child(2n + 1){
                background-color: $cardState3-2;
            }

            &:hover {
                z-index: +1;
            }
        }
    }
}

@mixin lineClamp ($lines) {
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    overflow: hidden;
    text-overflow: ellipsis;
  }